@import "./partials/tooltip";
@import "./partials/construction";
@import "./partials/mouse-follow";
@import "./partials/blueprint";

.App {
  text-align: center;
}

.resource {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #61dafb;
  user-select: none;
}

.building {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 40px;
  background-color: transparent;
  user-select: none;
}

.building-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cursor-hidden {
  cursor: none;
}

.spacing10 {
  margin: 10px;
}

.gameboards {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &>div {
	margin: 20px;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.game {
  display: flex;
  align-items: center;
}